; {{ ansible_managed }}

; CLI specific configuration

[PHP]

; Errors handling
; ===============

error_reporting = E_ALL

; Errors will be logged to stderr by default
; error_log = 
; opcache.error_log =

log_errors_max_len = 0
