; CLI specific configuration

[PHP]

; Language options
; ================

short_open_tag = Off
asp_tags = Off


; Errors handling
; ===============

error_reporting = E_ALL

log_errors = On
log_errors_max_len = 0

; Errors will be logged to stderr by default
; error_log = 
; opcache.error_log =
