; PHP-FPM specific configuration

[PHP]

; Errors handling
; ===============

html_errors = Off
log_errors = On
log_errors_max_len = 0

; Separate PHP errors from nginx error log
error_log = /var/log/php/error.log
opcache.error_log = /var/log/php/error.log

; Functions
; =========

allow_url_fopen = Off
