# {{ ansible_managed }}

[Unit]
Description=Thumbor Socket

[Socket]
ListenStream=/run/thumbor/thumbor.sock

SocketUser=thumbor
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
