# {{ ansible_managed }}

[Unit]
Description=Thumbor
Documentation=https://thumbor.readthedocs.io/en/latest/

After=network.target
Requires=thumbor.socket

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/thumbor --fd /run/thumbor/thumbor.sock --conf /etc/thumbor.conf

# Process owner identity
User=www-data
Group=www-data

# Security
# Prevent writes to /usr, /boot and /etc
ProtectSystem=full
# Prevent accessing /home, /root and /run/user
ProtectHome=true
# Namespaced temp files
PrivateTmp=true

[Install]
WantedBy=multi-user.target
