# {{ ansible_managed }}

{{ log_paths.vhost }}*.log {
  create 660 www-data applications
  weekly
  missingok
  rotate 52
  copytruncate
  compress
  delaycompress
  notifempty
  nomail
}

{{ log_paths.app }}*.log {
  create 660 {{ user }} applications
  weekly
  missingok
  rotate 52
  copytruncate
  compress
  delaycompress
  notifempty
  nomail
}
