# {{ ansible_managed }}

{{ log_paths.vhost }}*.log {
  su {{ user }} applications
  create 660 {{ user }} applications
  weekly
  missingok
  rotate 52
  compress
  delaycompress
  notifempty
  nomail
}

{{ log_paths.app }}*.log {
  su {{ user }} applications
  create 660 {{ user }} applications
  weekly
  missingok
  rotate 52
  compress
  delaycompress
  notifempty
  nomail
}
