{% if ssl %}
server {
  listen [::]:80;
  listen 80;

  server_name {{ all_domains | join(" ") }};
  root {{ root }};

  location /.well-known/ {}
  location / {
    return 301 https://$server_name$request_uri;
  }
}

{% endif %}
