{% if 'additionals' in vhost.domains and vhost.domains.additionals|length > 0 %}
# Additional domains
server {
  {% include './partials/listen.j2' %}
  server_name {{ vhost.domains.additionals | join(" ") }};
  root {{ root }};

  location /.well-known/ {}
  location / {
    rewrite ^ $scheme://{{ vhost.domains.main }}$request_uri? permanent;
  }
}

{% endif %}
