  {% include './partials/listen.j2' %}

  server_name {{ vhost.domains.main }};
  root {{ root }};

  access_log {{ vhost.logs.vhost }}access.log;
  error_log  {{ vhost.logs.vhost }}error.log;

  {% if 'redirections' in vhost %}

  # Redirections
  include {{ vhost.root }}{{ vhost.redirections }};
  {% endif %}

  # Common configurations
  include /etc/nginx/partials.d/presets/main-server.conf;
