# {{ ansible_managed }}


check process php-fpm with pidfile /run/php/php{{ php_version }}-fpm.pid
  group servers
  group php
  
  if cpu > 60% for 2 cycles then alert
  if 5 restarts with 5 cycles then alert


check process php-fpm-silent with pidfile /run/php/php{{ php_version }}-fpm.pid
  group servers
  group php

  include /etc/monit/templates/silent

  start program = "/bin/systemctl start php{{ php_version }}-fpm.service"
  stop program = "/bin/systemctl stop php{{ php_version }}-fpm.service"

  if cpu > 80% for 5 cycles then restart
  if totalmem > 500.0 MB then restart


check file php_log_error with path /var/log/php/error.log
  group php

  if size > 250 MB then exec "/usr/sbin/logrotate -f /etc/logrotate.d/php"


check file php_log_fpm with path /var/log/php/php-fpm.log
  group php

  if size > 250 MB then exec "/usr/sbin/logrotate -f /etc/logrotate.d/php"
