# {{ ansible_managed }}


check file php_fpm_{{ pool.name }}_log_access with path /var/log/php/{{ pool.name }}/access.log
  group php

  if size > 250 MB then exec "/usr/sbin/logrotate -f /etc/logrotate.d/php"


check file php_fpm_{{ pool.name }}_log_error with path /var/log/php/{{ pool.name }}/error.log
  group php

  if size > 250 MB then exec "/usr/sbin/logrotate -f /etc/logrotate.d/php"


check file php_fpm_{{ pool.name }}_log_slow with path /var/log/php/{{ pool.name }}/slow.log
  group php

  if size > 250 MB then exec "/usr/sbin/logrotate -f /etc/logrotate.d/php"
