# {{ ansible_managed }}

{% if 'vhost' in vhost.logs %}

check file {{ vhost.name }}_access_log with path {{ vhost.logs.vhost }}access.log
  if size > 250 MB then exec "/usr/sbin/logrotate -f /etc/logrotate.d/{{ vhost.name }}"

check file {{ vhost.name }}_error_log with path {{ vhost.logs.vhost }}error.log
  if size > 250 MB then exec "/usr/sbin/logrotate -f /etc/logrotate.d/{{ vhost.name }}"

{% endif %}
{% if 'app' in vhost.logs %}

check file {{ vhost.name }}_app_log with path {{ vhost.logs.app }}*.log
  if size > 250 MB then exec "/usr/sbin/logrotate -f /etc/logrotate.d/{{ vhost.name }}"

{% endif %}
