# {{ ansible_managed }}
server {
  listen [::]:80 deferred;
  listen 80 deferred;

  server_name {{ vhost.domains.main }};
  root {{ directories.root.path }};
  index index.html index.htm index.php;
  
  error_page 404 /404.php;
  client_max_body_size 256M;
  
  access_log {{ directories.logs.path }}access.log;
  error_log  {{ directories.logs.path }}error.log;

  {% if 'redirections' in vhost %}
  # Redirections
  include {{ directories.conf.path }}redirect.conf;
  
  {% endif %}
  
  location / {
    try_files $uri $uri/ /index.php?$args;
  }
  
  location ~ \.php$ {
  
    try_files $uri =404;
    
    # Default PHP configuration
    include /etc/nginx/partials.d/enable/php.conf;
    fastcgi_param SCRIPT_FILENAME {{ directories.root.path }}$fastcgi_script_name;
    fastcgi_param APPLICATION_ENV {{ vhost.environment }};
    fastcgi_pass php.fpm;
  }
  
  # Common configurations
  include /etc/nginx/partials.d/presets/main-server.conf;
}

{% if 'additionals' in vhost.domains and vhost.domains.additionals|length > 0 %}
# Additional domains
server {
  listen [::]:80 deferred;
  listen 80 deferred;
  
  server_name {{ vhost.domains.additionals | join(" ") }};
  return 301 $scheme://{{ vhost.domains.main }}$request_uri;
}

{% endif %}
{% if 'assets' in vhost.domains %}
# Static assets
server {
  listen [::]:80 deferred;
  listen 80 deferred;
  
  server_name ~{{ vhost.domains.assets }};
  root {{ directories.root.path }};
  
  # Common configurations
  include /etc/nginx/partials.d/presets/assets-server.conf;
  
  location ~* ^/(assets|system) {
    include /etc/nginx/partials.d/enable/strong-cache.conf;
    break;
  }    
}

{% endif %}
