# {{ ansible_managed }}

server {
  listen [::]:80 deferred;
  listen 80 deferred;

  server_name {{ vhost.domains.main }};
  root {{ directories.root.path }}public;
  index  index.html index.htm;
  
  access_log {{ directories.logs.path }}access.log;
  error_log  {{ directories.logs.path }}error.log;

  {% if 'redirections' in vhost %}  
  # Redirections
  include {{ directories.conf.path }}redirect.conf;
  
  {% endif %}
  # Common configurations
  include /etc/nginx/partials.d/presets/main-server.conf;
  
  # Phusion Passenger
  passenger_enabled on;
  passenger_min_instances 1;
  passenger_app_env {{ vhost.environment }};
  passenger_env_var SERVER_NAME {{ vhost.domains.main }}; # Explicit domain required for rack / sinatra apps
}

passenger_pre_start http://{{ vhost.domains.main }};

{% if 'additionals' in vhost.domains and vhost.domains.additionals|length > 0 %}
# Additional domains
server {
  listen [::]:80 deferred;
  listen 80 deferred;
  
  server_name {{ vhost.domains.additionals | join(" ") }};
  return 301 $scheme://{{ vhost.domains.main }}$request_uri;
}

{% endif %}
{% if 'assets' in vhost.domains %}
# Static assets
server {
  listen [::]:80 deferred;
  listen 80 deferred;
  
  server_name ~{{ vhost.domains.assets }};
  root {{ directories.root.path }}/public;
  
  # Common configurations
  include /etc/nginx/partials.d/presets/assets-server.conf;
  
  location ~* ^/(assets|system) {
    include /etc/nginx/partials.d/enable/strong-cache.conf;
    break;
  }    
}

{% endif %}
