# {{ ansible_managed }}

check process nginx with pidfile /var/run/nginx.pid
  group servers
  group nginx
  start program = "/bin/systemctl start nginx.service"
  stop program = "/bin/systemctl stop nginx.service"
  
  if cpu > 60% for 2 cycles then alert
  if cpu > 80% for 5 cycles then restart
  if totalmem > 500.0 MB then restart
  
  if 5 restarts with 5 cycles then timeout
  depend nginx_bin
  depend nginx_rc

check file nginx_bin with path /usr/sbin/nginx
  group nginx
  include /etc/monit/templates/rootbin

check file nginx_rc with path /etc/init.d/nginx
  group nginx
  include /etc/monit/templates/rootbin

check file access.log with path /var/log/nginx/access.log
  if size > 250 MB then exec "/usr/sbin/logrotate -f nginx"
  
check file access.log with path /var/log/nginx/error.log
  if size > 250 MB then exec "/usr/sbin/logrotate -f nginx"

