[{{ pool.name }}]

; Additional php.ini directives
php_value[memory_limit] = {{ pool.memory_limit | default('256M') }}
php_admin_value[post_max_size] = {{ pool.max_post_size | default('20M') }}
php_admin_value[upload_max_filesize] = {{ pool.max_file_size | default('15M') }}
{% if 'ini_directives' in pool and pool.ini_directives|length > 0 %}
{{ pool.ini_directives | join("\n") }}
{% endif %}

{% if 'envvars' in pool and pool.envvars|length > 0 %}
; Additional environment variables
{% for var in pool.envvars %}
env[{{ var.name }}] = {{ var.value }}
{% endfor %}
{% endif %}

; Unix user/group of processes
user = {{ pool.user }}

; The address on which to accept FastCGI requests.
listen = /run/php/php7.0-fpm.{{ pool.name }}.sock

; Set permissions for unix socket.
listen.owner = www-data
listen.group = www-data
listen.mode = 0660

; Processes management
pm = dynamic
pm.start_servers     = {{ pool.min_servers | default('1') }}
pm.min_spare_servers = {{ pool.min_servers | default('1') }}
pm.max_spare_servers = {{ pool.avg_servers | default('3') }}
pm.max_children      = {{ pool.max_servers | default('10') }}

pm.process_idle_timeout = 300s;
pm.max_requests = 10000;

; Logs
access.log = /var/log/php7.0-fpm/$pool/access.log
access.format = "%R - %u %t \"%m %r%Q%q\" %s %f %{mili}d %{kilo}M %C%%"

php_admin_value[error_log] = /var/log/php7.0-fpm/$pool/error.log
php_admin_value[opcache.error_log] = /var/log/php7.0-fpm/$pool/error.log

; Redirect worker stdout and stderr into main error log
catch_workers_output = yes

; Slow requests log
;slowlog = log/$pool.log.slow
;request_slowlog_timeout = 0

