# PHP-FPM upstream configuration for pool {{ pool.name }}
# =======================================================

upstream php7.0-fpm.{{ pool.name }} {
  server unix:/run/php/php7.0-fpm.{{ pool.name }}.sock;
}

