# {{ ansible_managed }}

{% set root = vhost_paths.root %}

server {
  {% include './partials/main.j2' %}

  index index.html index.htm index.php;
  error_page 404 /404.php;
  client_max_body_size 256M;

  location / {
    try_files $uri $uri/ /index.php?$args;
  }

  location ~ \.php$ {

    try_files $uri =404;

    # Default PHP configuration
    include /etc/nginx/partials.d/enable/php.conf;

    fastcgi_param SCRIPT_FILENAME "${realpath_root}${fastcgi_script_name}";
    fastcgi_param DOCUMENT_ROOT   "${realpath_root}";
    fastcgi_param APPLICATION_ENV {{ env_name }};

    fastcgi_pass php_fpm_{{ vhost.upstream.name | slugify('_') }};
  }
}

{% include './partials/domains-additionals.j2' %}
{% include './partials/domains-assets.j2' %}
{% include './partials/domains-non-ssl.j2' %}
