# {{ ansible_managed }}

{% set root = vhost.root %}

server {
  {% include './partials/main.j2' %}

  index index.html index.htm index.php;
  
  location / {
    try_files $uri $uri/ @rewrite;
  }

  location @rewrite {
    rewrite {{ vhost.rewrite }};
  }
  
  location ~ \.php$ {
    # Default PHP configuration
    include /etc/nginx/partials.d/enable/php.conf;

    {% if 'env_vars' in vhost %}{% for env_var_name in vhost.env_vars %}

    fastcgi_param {{ env_var_name }} {{ vhost.env_vars[env_var_name] }};
    {% endfor %}{% endif %}

    fastcgi_param SCRIPT_FILENAME "${realpath_root}${fastcgi_script_name}";
    fastcgi_param DOCUMENT_ROOT   "${realpath_root}";
    fastcgi_param APPLICATION_ENV {{ vhost.env }};

    fastcgi_pass php_fpm_{{ vhost.upstream.name | slugify('_') }};
  }
}

{% include './partials/domains-additionals.j2' %}
{% include './partials/domains-assets.j2' %}
{% include './partials/domains-non-ssl.j2' %}
