# {{ ansible_managed }}

{% set root = vhost.root %}

server {
  {% include './partials/main.j2' %}


  location / {
    proxy_redirect off;
    proxy_pass_header Server;
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Scheme $scheme;

    proxy_pass http://{{ vhost.upstream.name }};
  }
}

{% include './partials/domains-additionals.j2' %}
{% include './partials/domains-assets.j2' %}
{% include './partials/domains-non-ssl.j2' %}
