# {{ ansible_managed }}

{% set root = vhost.root + "public/" %}

server {
  {% include './partials/main.j2' %}

  index index.html;
  
  # Phusion Passenger
  passenger_enabled on;
  passenger_min_instances 1;
  passenger_app_env {{ vhost.env }};

  {% if 'env_vars' in vhost %}{% for env_var_name in vhost.env_vars %}

  passenger_env_var {{ env_var_name }} {{ vhost.env_vars[env_var_name] }};
  {% endfor %}{% endif %}

  # Explicit domain required for rack / sinatra apps
  passenger_env_var SERVER_NAME {{ vhost.domains.main }};
}

passenger_pre_start http://{{ vhost.domains.main }};

{% include './partials/domains-additionals.j2' %}
{% include './partials/domains-assets.j2' %}
{% include './partials/domains-non-ssl.j2' %}
